BASE_URL=https://mrq.com

RUN_TARGET=local
BROWSER=chromium
HEADLESS=false

BROWSERSTACK_USERNAME=
BROWSERSTACK_ACCESS_KEY=
BROWSERSTACK_CAPABILITY=windows-chrome
BROWSERSTACK_BUILD_NAME=MrQ Registration POC