# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Playwright
playwright-report/
test-results/

# Reports
reports/
coverage/

# BrowserStack
browserstack.yml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/

# Misc
*.zip